.grid {
  display: flex;
}

.card {
  margin-top: 4em;
  flex: 1;
  background: #f2f2f2;
  padding: 40px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin-right: 30px;
  min-height: 25rem;
}

.card, .card:hover {
  cursor: pointer;
}

.card-content {
  text-align: justify;
  color: black;
}

h1 {
  font-weight: 900;
  text-align: center;
  color: var(--global-green);
}


.imgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -45%;
  left: 740px;
}

.quemsomos-text {
  width: 90%;
  font-size: 20px;
  line-height: 1.6em;
  color: #131313
  
}

.textContent {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: left;
  width: 950px;
  margin: 0 auto;
}


.card-description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  color: #8b8b8b;
}
