.containerQuemSomos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.grid {
  display: flex;
}

.card {
  margin-top: 50px;
  flex: 1;
  background: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin-right: 30px;
}

.card-content {
  text-align: justify;
  color: black;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}


.imgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -45%;
  left: 740px;
}

.tContent {
  width: 90%;
  font-size: 18px;
  color: #1f1f1f;
}

.textContent {
  margin-top: 70px;
}

.imgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

img {
  max-width: 100%;
}
