.containerQuemSomos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.grid {
  display: flex;
}

.main-card {
  margin-top: 50px;
  flex: 1;
  background: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin-right: 30px;
}

.main-card-content {
  text-align: center;
  color: black;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}


.tContent {
  width: 90%;
  font-size: 18px;
  color: #1f1f1f;
  
}

.textContent {
  margin-top: 70px;
}


