.nav {
    background-color: #fff;
    padding: 20px;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 13px 0px rgba(168, 168, 168, 0.53);
}

.column {
  flex: 1;
  margin: 0 10px;
  max-width: 250px;
  margin-right: 150px;
}


img {
  width: 400px;
  margin-top: 25px;
}

ul {
  list-style: none;
  padding: 0;
  display: inherit;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(33, 33, 33);
  margin-left: 16px;
}
a.nav-item {
  height: fit-content;
  color: #54595f;
  padding-bottom: 36px;
  padding-top: 4rem;
  text-decoration: none;
  font-size: medium;
  transition: 0.1s;
  white-space: nowrap;
}

a.nav-item:hover {
  color: #00e4b9;
  border-bottom: 3px solid #00e4b9;
}

button.nav-item {
  background-color: #00e4b9 !important;
  color: #54595f !important;
  border: none !important;
  font-weight: bolder;
}